*{
    box-sizing: border-box;
    user-select: none;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#game{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: none;
    width: 100%;
    height: 100%;
    background-color: rgb(245 245 237);
}
#startGame{
    position: absolute;
    top: 35px;
    left: 350px;
    width: 180px;
    height: 75px;
    font-size: 50px;
    border-radius: 27px;
    cursor: none;
    background-color: rgb(46 46 46);
    color: white;
}
#scoreInfo, #timerInfo{
    display: flex;
    font-size: 30px;
    height: 60px;
}
#scoreInfo{
    margin-top: 22px;
}
#maxScoreInfo{
    display: flex;
    font-size: 30px;
    position: absolute;
    left: 53px;
    top: 53px;
}
#molesInfo{
    position: absolute;
    left: 40px;
    top: 120px;
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#molesInfo > h2{
    font-size: 33px;
    margin-bottom: 13px;
}
#molesInfo > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.moleInfoImg{
    width: 100px;
    border-radius: 30%;
}
.moleInfoPoints{
    font-size: 35px;
}


/* game */


#board{
    display: grid;
    grid-template-columns: repeat(4,240px);
    grid-template-rows: repeat(3,240px);
    width: 960px;
    height: 720px;
    border: 1px solid black;
}
.hole{
    border: 1px solid black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}
.holeImg{
    width: 240px;
    position: absolute;
    z-index: 1;
}
.mole{
    width: 60px;
    height: 60px;
    transform: translate(-10%, -34%);
    background-image: url(../img/mole0.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#hammer{
    width: 150px;
    height: 150px;
    background-image: url(../img/hammer.png);
    background-size: 100% 100%;
    position: absolute;
    left: 150px;
    top: 150px;
    transform: translate(-48%, -35%) rotate(-26deg);
    transition: transform .1s;
    z-index: 100;
    pointer-events: none;
}
#hammer:active{
    transform: translate(-20%, -20%) rotate(-75deg);
}
@keyframes moleIn {
    0%{
        width: 60px;
        height: 60px;
    }
    100%{
        width: 140px;
        height: 140px;

    }
}

@keyframes moleOut {
    0%{
        width: 140px;
        height: 140px;  
    }
    100%{
        width: 60px;
        height: 60px;
    }
}