*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
#startPage{
    display: none;
    flex-direction: column;
    align-items: center;
}
header{
    font-size: 30px;
}
#playGame{
    width: 180px;
    height: 75px;
    font-size: 50px;
    border-radius: 10px;
    cursor: pointer;
}
#game{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: none;
    width: 100%;
    height: 100%;
}
#startGame{
    width: 180px;
    height: 75px;
    font-size: 50px;
    border-radius: 10px;
    cursor: none;
}
#scoreInfo{
    display: flex;
    font-size: 30px;
}
#board{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    border: 1px solid black;
    margin-right: -1px;
}
.hole{
    height: 33.33%;
    width: 33.33%;
    border: 1px solid black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}
.holeImg{
    width: 240px;
    position: absolute;
    z-index: 1;
}
.mole{
    /* display: none; */
    width: 60px;
    transform: translate(-10%, -43%);
}
#hammer{
    width: 150px;
    height: 150px;
    background-image: url(../img/hammer.png);
    background-size: 100% 100%;
    position: absolute;
    left: 150px;
    top: 150px;
    transform: translate(-48%, -35%) rotate(-26deg);
    transition: transform .1s;
    z-index: 100;
    pointer-events: none;
}
#hammer:active{
    transform: translate(-20%, -20%) rotate(-75deg);
}
@keyframes moleIn {
    0%{
        transform: translate(-10%, -43%);
        width: 60px;
    }
    100%{
        transform: translate(-10%, -40%);
        width: 140px;

    }
}

@keyframes moleOut {
    0%{
        transform: translate(-10%, -26%);
        width: 140px;
    }
    100%{
        transform: translate(-10%, -43%);
        width: 60px;
    }
}